language: perl

matrix:
  include:
    - perl: "5.28"
      env: COVERAGE=1       # only report coverage to coveralls for this version of perl

perl:
    #- "5.28" # explicit for coverage test
    #- "5.26"
    #- "5.24"
    #- "5.22"
    #- "5.20"
    #- "5.18"
    #- "5.16"
    #- "5.14"
    #- "5.12"
    #- "5.10"
    - "5.8"

os:
    - linux

notifications:
    on_success: change
    on_failure: change

before_install:
  - git clone git://github.com/travis-perl/helpers ~/travis-perl-helpers
  - source ~/travis-perl-helpers/init
  - build-perl
  - perl -V
  - cpanm --notest Module::Signature
  - build-dist
  - cd $BUILD_DIR             # $BUILD_DIR is set by the build-dist command

install:
  - cpan-install Devel::Cover
  - cpan-install Devel::Cover::Report::Coveralls
  - cpan-install --deps       # installs prereqs, including recommends
  - cpan-install --coverage   # installs converage prereqs, if enabled

before_script:
  - coverage-setup

script:
  - prove -lrv $(test-dirs)

after_success:
  - cover -report coveralls
  - coverage-report
